@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
    <h1>.NET 💜 Azure</h1>
    <h1>This is a demo webserver done by Raed for APPGW training</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>